
doctype html
html
  head
    title= title
  body
    block content
    button(type="button", name='Click Me', onclick="location.href='/addrecipe';")
    button(type="button", onclick="location.href='/readrecipe';")
