extends layout

block content
  h1= title
  if bform
    .container
        form(method='POST' action='/users/register' enctype="application/x-www-form-urlencoded" )
          .form-group
            label Imię
            input.form-control(type='text', name='name', autocomplete="nope")
          .form-group
            label Nazwisko
            input.form-control(type='text', name='surname', autocomplete="nope")
          .form-group
            label Email
            input.form-control(type='email', name='email', autocomplete="nope", placeholder="name@example.com")
          .form-group
            label Wpisz Hasło
            input.form-control(type='password', name='pass', autocomplete="nope")
          .form-group
            label Wpisz hasło ponownie
            input.form-control(type='password', name='repass', autocomplete="nope")
          .form-group
          button.btn.btn-secondary(type='submit') ZAPISZ
  else
    h2= name
    h2= surname
    h2= email