extends layout

block content
  h1= title
  if bform
    .container
        form(method='POST' action='/users/update/'+id enctype="application/x-www-form-urlencoded" )
          .form-group
            label Imię
            input.form-control.validate(type='text', name='name')&attributes({'value' : name})
          .form-group
            label Nazwisko
            input.form-control.validate(type='text', name='surname')&attributes({'value' : surname})
          .form-group
            label Email
            input.form-control.validate(type='email', name='email')&attributes({'value' : email})
          .form-group
          button.btn.btn-secondary(type='submit') EDYTUJ
  else
    h2= name
    h2= surname
    h2= email


    